.header {
    background-color: #FAF5F2;
}

.header__content {
    display: flex;
    align-items: center;
}

.container {}

.row-header {
    &__column {
    flex: 0 1 50%;
    padding: 24px 0;
    &.column-logo {
        flex: 0 0 275px;
    }
    }
}

.column-logo__link {}
.column-menu {}
.column-menu__icon {}
.icon-menu {}
.column-menu__body {}
.column-menu {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__link {
        padding: 10px;
        &:hover {
            border-radius: 10px;
            background-color: $mainBGC;
        }
    }
}
.column-contacts {
    display: flex;
}
.column-contacts__timeline {}
.column-contacts__phone {
    font-weight: 500;
}
.column-contacts__callback {
    padding: 6px 25px;
    min-width: 195px;
    background-color: $mainBGC;
    color: #fff;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}