.header {
    background-color: #FAF5F2;
    }

.header__content {
    display: flex;
    align-items: center;
    min-height: 106px;
}

.column-logo {
    flex: 0 0 265px;
    padding: 24px 0;
}

.column-logo__link {
    display: block;
    margin-bottom: 5px;
}
/**********Бургер меню********/

.icon-menu {
    display: none;
    @media (max-width: $md2 + px) {
        display: block;
        position: absolute;
        width: 36px;
        height: 24px;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all .3s ease 0s;
            position: absolute;
            top: calc(50% - 2px);
            left: 0;
            width: 100%;
            height: 4px;
            background-color: $mainBGC;
            border-radius: 4px;
            &:first-child {
                top: 0;
            }
            &:last-child {
                top: auto;
                bottom: 0;
            }
        }
    }
    &:active {
        span {
            transform: scale(0);
            &:first-child {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
            }
            &:last-child {
                transform: rotate(45deg);
                top: calc(50% - 1px);
            }
        }
    }
}
.column-menu__body {}
.column-menu {
    flex: 0 1 50%;
    font-weight: 500;
    //margin-right: 2%;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__link {
        padding: 10px;
        transition: all .3s;
        border-radius: 10px;
        &:hover {
            background-color: $mainBGC;
            color: #fff;
        }
    }
    @media (max-width: 1300px) {
        flex: 0 1 90%;
    }
}
.column-contacts {
    flex: 0 1 50%;
    margin-left: 4%;
    position: relative;
    @media (max-width: 1300px) {
        flex: 0 0 10%;
        margin-left: 0;
    }
}

.body-contacts {
    height: 106px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    & * {
        font-weight: 500;
    }
    &__timeline {
        padding: 10px 0 10px 33px;
        background: url("../img/icon/clock.png") no-repeat left center;
        white-space: nowrap;
    }
    &__callback {
        padding: 6px 25px;
        flex-basis: 195px;
        background-color: $mainBGC;
        color: #fff;
        border-radius: 10px;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        transition: all .3s;
        &:hover {
            background-color: #c2815a;
        }
    }
    @media (max-width: 1300px) {
        transform: translateX(999px);
    }
}

.column-contacts__icon {
    display: none;
    color: #d5b19b;
    @media (max-width: 1300px) {
        display: block;
        position: absolute;
        right: 20px;
        top: calc(50% - 18px);
        cursor: pointer;
        z-index: 5;
    }
}

