.page {
  margin-top: 67px;
  @media (max-width: $md3 + px) {
    margin-top: 106px;
  }
  @media (max-width: $md4 + px) {
    margin-top: 40px;
  }
  & .container {
    @media (max-width: $md3 + px) {
      padding: 0;
    }
  }
}
.page__container {

}


/*************************** Slider **********************/
.page__slider {
  margin-bottom: 180px;
  @media (max-width: $md3 + px) {
    margin-bottom: 120px;
  }
  @media (max-width: $md4 + px) {
    margin-bottom: 80px;
  }
}
.mainSlider__slide {
  background: linear-gradient(180deg, rgba(213, 177, 155, 0.64) 0%, #D5B19B 100%);
  position: relative;
  height: 965px;
  overflow: hidden;
    &::before {
    content: '';
    position: absolute;
    left: -50%;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #f6efea;
    transform: skewX(344deg);
  }
  @media (max-width: 1400px) {
    height: 1000px;
  }
  @media (max-width: $md3 + px) {
    height: 800px;
  }
  @media (max-width: $md4 + px) {
    height: 400px;
     }
  @media (max-width: 320px) {
    height: 370px;
  }
}
.mainSlider__content {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/slider/table-bg.png") bottom right 60px no-repeat;
  background-size: auto;
  padding: 120px 0 0 7%;
  @media (max-width: $md1 + px) {
    background: url("../img/slider/table-bg.png") bottom right no-repeat;
    background-size: contain;
  }
  @media (max-width: $md3 + px) {
    padding: 120px 7% 0 7%;
  }
  @media (max-width: $md4 + px) {
    padding: 40px 7% 0 7%;
    overflow: visible;
  }
}
.mainSlider__page {
  position: absolute;
  width: 100%;
  z-index: 3;
  display: flex;
  border-bottom: 2px solid #fff;
  .content-mainSlider__line {
    flex: 1 1 100%;
    height: 80px;
    @media (max-width: $md4 + px) {
      height: 30px;
    }
  }
  .content-mainSlider__number {
    flex: 1 1 100px;
    border-left: 2px solid #fff;
    padding-top: 10px;
    @media (max-width: $md4 + px) {
      flex: 1 1 35px;
      padding-top: 0;
    }
    span {
      flex: 100%;
      color: #fff;
      font-size: 18px;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      display: block;
      text-align: center;
      line-height: 26px;
      margin: auto;
      padding: 0 5px 0 5px;

      &:first-child {
        width: fit-content;
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
      }

      @media (max-width: $md4 + px) {
        font-size: 12px;
        line-height: 12px;
        padding: 1px 1px 0 1px;
      }
    }
  }
}
.content-mainSlider__title {
  @media (max-width: $md3 + px) {
    font-size: 40px;
  }
  @media (max-width: $md4 + px) {
    font-size: 24px;
    line-height: 55px;
  }
}
.content-mainSlider__text {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 33px;
  max-width: 594px;
  @media (max-width: $md3 + px) {
    font-size: 16px;
    max-width: 500px;
    margin-bottom: 33px;
    margin-top: 10px;
  }
  @media (max-width: $md4 + px) {
    font-size: 10px;
    margin-top: 0;
    line-height: 12px;
  }
}
.content-mainSlider__icons {
  display: flex;
  max-width: 570px;
  justify-content: space-between;
  margin-bottom: 60px;
  @media (max-width: $md3 + px) {
    max-width: 100%;
  }
  @media (max-width: $md4 + px) {
    padding: 0 10px 0 10px;
  }
  .icons-mainSlider__item {
    width: 98px;
    .icons-mainSlider__img{
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 12px;
    }
    .icons-mainSlider__text {
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      line-height: 14px;
      @media (max-width: $md4 + px) {
        font-size: 10px;
      }
    }
  }
}
.content-mainSlider__button:hover {

}


/*************************** Products **********************/
.products {
  margin-bottom: 180px;
  text-align: center;
}
.products__title {
  //text-align: center;
}
.products__items {
  display: flex;
  flex-wrap: wrap;
  margin: 135px -40px 0;
  @media (max-width: $md3 + px) {
    margin: 65px -40px 0;
    padding: 0 10px;
  }
  @media (max-width: $md4 + px) {
    margin: 55px -40px 0;
    padding: 0 10px;
  }
}
.items-products__column {
  flex: 0 0 25%;
  padding: 0 40px;
  margin: 0 0 120px 0;
  @media (max-width: 1400px) {
  flex: 0 0 33.333%;
}
  @media (max-width: $md2 + px) {
    flex: 0 0 50%;
  }
  @media (max-width: $md3 + px) {
    margin: 0 0 80px 0;
  }
  @media (max-width: $md4 + px) {
    flex: 0 0 100%;
  }
  &:nth-child(7),
  &:nth-child(8) {
    @media (max-width: 1367px) {
      display:none;
    }
  }
  &:nth-child(5),
  &:nth-child(6) {
    @media (max-width: $md4 + px) {
      display:none;
    }
  }
  .item-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 30px;
    transition: all .4s ease;
    height: 100%;
    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.08);
    }
    .item-product__labels {
      position: absolute;
      top: -25px;
      right: -20px;
      @media (max-width: $md3 + px) {
        right: -5px;
      }
      .item-product__label {
        background: url("../img/products/Ellipse 3.png") no-repeat top center;
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        padding: 24px 15px 26px;
      }
    }
    .item-product__pic {
      display: block;
      height: 256px;
      margin-bottom: 25px;
      img {
        max-height: 250px;
        max-width: 100%;
      }
    }
    .item-product__title {
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: $mainColor;
      margin-bottom: 25px;
      padding: 0 30px;
      @media (max-width: $md3 + px) {
        padding: 0 10px;
      }
      span {
        display: block;
      }
    }
    .item-product__footer {
      //display: flex;
      //flex-direction: column;
    }
    .item-product__prices {
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 25px;
      color: $mainColor;
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
      .item-product__old-price {
        text-decoration: line-through;
        color: #A2A2A2;
      }
      .item-product__price {}
    }
    .item-product__add {
      opacity: 0;
      transition: all .5s ease;
      &:hover {
        background: linear-gradient(270deg, #dfaf8c, #c88f6f);
      }
      @media (max-width: 1367px) {
        opacity: 1;
      }
      @media (max-width: $md4 + px) {
        padding: 8px 58px 11px;
      }
    }
  }
}
.item-product:hover .item-product__add {
  opacity: 1;
}

//.items-products__column:nth-child(1) .item-product__old-price,
//.items-products__column:nth-child(1) .item-product__labels,
//.items-products__column:nth-child(3) .item-product__old-price,
//.items-products__column:nth-child(3) .item-product__labels,{
//  display: none;
//}

.products__button {

}



