.page {
  margin-top: 67px;
  @media (max-width: $md3 + px) {
    margin-top: 106px;
  }
  @media (max-width: $md4 + px) {
    margin-top: 40px;
  }
  & .container {
    @media (max-width: $md3 + px) {
      padding: 0;
    }
  }
}
.page__container {

}


/*************************** Slider **********************/
.page__slider {
  margin-bottom: 180px;
  @media (max-width: $md3 + px) {
    margin-bottom: 120px;
  }
  @media (max-width: $md4 + px) {
    margin-bottom: 80px;
  }
}
.mainSlider__slide {
  background: linear-gradient(180deg, rgba(213, 177, 155, 0.64) 0%, #D5B19B 100%);
  position: relative;
  height: 965px;
  overflow: hidden;
    &::before {
    content: '';
    position: absolute;
    left: -50%;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #f6efea;
    transform: skewX(344deg);
  }
  @media (max-width: 1400px) {
    height: 1000px;
  }
  @media (max-width: $md3 + px) {
    height: 800px;
  }
  @media (max-width: $md4 + px) {
    height: 400px;
     }
  @media (max-width: 320px) {
    height: 370px;
  }
}
.mainSlider__content {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/slider/table-bg.png") bottom right 60px no-repeat;
  background-size: auto;
  padding: 120px 0 0 7%;
  @media (max-width: $md1 + px) {
    background: url("../img/slider/table-bg.png") bottom right no-repeat;
    background-size: contain;
  }
  @media (max-width: $md3 + px) {
    padding: 120px 7% 0 7%;
  }
  @media (max-width: $md4 + px) {
    padding: 40px 7% 0 7%;
    overflow: visible;
  }
}
.mainSlider__page {
  position: absolute;
  width: 100%;
  z-index: 3;
  display: flex;
  border-bottom: 2px solid #fff;
  .content-mainSlider__line {
    flex: 1 1 100%;
    height: 80px;
    @media (max-width: $md4 + px) {
      height: 30px;
    }
  }
  .content-mainSlider__number {
    flex: 1 1 100px;
    border-left: 2px solid #fff;
    padding-top: 10px;
    @media (max-width: $md4 + px) {
      flex: 1 1 35px;
      padding-top: 0;
    }
    span {
      flex: 100%;
      color: #fff;
      font-size: 18px;
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      display: block;
      text-align: center;
      line-height: 26px;
      margin: auto;
      padding: 0 5px 0 5px;

      &:first-child {
        width: fit-content;
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
      }

      @media (max-width: $md4 + px) {
        font-size: 12px;
        line-height: 12px;
        padding: 1px 1px 0 1px;
      }
    }
  }
}
.content-mainSlider__title {
  margin: 8px 0 13px;
  @media (max-width: $md3 + px) {
    font-size: 40px;
  }
  @media (max-width: $md4 + px) {
    font-size: 24px;
  }
}
.content-mainSlider__text {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
  max-width: 594px;
  @media (max-width: $md3 + px) {
    font-size: 16px;
    max-width: 500px;
    margin-top: 10px;
  }
  @media (max-width: $md4 + px) {
    font-size: 10px;
    margin-top: 0;
    line-height: 12px;
  }
}
.content-mainSlider__icons {
  display: flex;
  max-width: 570px;
  justify-content: space-between;
  margin-bottom: 60px;
  @media (max-width: $md3 + px) {
    max-width: 100%;
  }
  @media (max-width: $md4 + px) {
    padding: 0 10px 0 10px;
  }
  .icons-mainSlider__item {
    width: 98px;
    .icons-mainSlider__img{
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 12px;
      @media (max-width: $md4 + px) {
        height: 45px;
      }
    }
    .icons-mainSlider__text {
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      line-height: 14px;
      @media (max-width: $md4 + px) {
        font-size: 9px;
        line-height: 11px;
      }
    }
  }
}
a.content-mainSlider__button {
  @media (max-width: $md4 + px) {
    font-size: 12px;
  }
}


/*************************** Products **********************/
.page__products {
  margin-bottom: 180px;
  text-align: center;
  @media (max-width: $md3 + px) {
    margin-bottom: 150px;
  }
  @media (max-width: $md4 + px) {
    margin-bottom: 90px;
  }
}
h2.products__title {
  display: inline-block;
  margin: 0 0 30px;
}
.products__items {
  display: flex;
  flex-wrap: wrap;
  margin: 135px -40px 0;
  @media (max-width: $md3 + px) {
    margin: 65px -40px 0;
    padding: 0 10px;
  }
  @media (max-width: 510px) {
    padding: 0 50px;
  }
  @media (max-width: $md4 + px) {
    margin: 55px -40px 0;
    padding: 0 10px;
  }
}
.items-products__column {
  flex: 0 0 25%;
  padding: 0 40px;
  margin: 0 0 120px 0;
  @media (max-width: 1400px) {
  flex: 0 0 33.333%;
}
  @media (max-width: $md2 + px) {
    flex: 0 0 50%;
  }
  @media (max-width: $md3 + px) {
    margin: 0 0 80px 0;
  }
  @media (max-width: 510px) {
    flex: 0 0 100%;
    margin: 0 0 55px 0;
  }

  &:nth-child(7),
  &:nth-child(8) {
    @media (max-width: 1367px) {
      display:none;
    }
  }
  &:nth-child(5),
  &:nth-child(6) {
    @media (max-width: $md4 + px) {
      display:none;
    }
  }
  .item-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 30px;
    transition: all .4s ease;
    height: 100%;
    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.08);
    }
    @media (max-width: $md3 + px) {
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.08);
    }
    .item-product__labels {
      position: absolute;
      top: -25px;
      right: -20px;
      @media (max-width: $md3 + px) {
        right: -5px;
      }
      .item-product__label {
        background: url("../img/products/Ellipse 3.png") no-repeat top center;
        font-family: $fontFamily;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        padding: 24px 15px 26px;
      }
    }
    .item-product__pic {
      display: block;
      height: 256px;
      margin-bottom: 25px;
      img {
        max-height: 250px;
        max-width: 100%;
      }
    }
    .item-product__title {
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: $mainColor;
      margin-bottom: 25px;
      padding: 0 30px;
      @media (max-width: $md3 + px) {
        padding: 0 10px;
      }
      span {
        display: block;
      }
    }
    .item-product__footer {
      //display: flex;
      //flex-direction: column;
    }
    .item-product__prices {
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 25px;
      color: $mainColor;
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
      .item-product__old-price {
        text-decoration: line-through;
        color: #A2A2A2;
      }
      .item-product__price {}
    }
    .item-product__add {
      opacity: 0;
      transition: all .5s ease;
      &:hover {
        background: linear-gradient(270deg, #dfaf8c, #c88f6f);
      }
      @media (max-width: 1367px) {
        opacity: 1;
      }
      @media (max-width: $md4 + px) {
        padding: 8px 58px 11px;
      }
    }
  }
}
.item-product:hover .item-product__add {
  opacity: 1;
}

//.items-products__column:nth-child(1) .item-product__old-price,
//.items-products__column:nth-child(1) .item-product__labels,
//.items-products__column:nth-child(3) .item-product__old-price,
//.items-products__column:nth-child(3) .item-product__labels,{
//  display: none;
//}


/*************************** Advantage **********************/

.advantage {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 42.71%), url("../img/advantage/advan-bg.png") no-repeat center bottom;
  background-size: auto, cover;
  text-align: left;
  padding: 65px 10px 0 50%;
  margin-bottom: 180px;
  @media (max-width: $md2 + px) {
    padding: 65px 10px 0 45%;
  }
  @media (max-width: $md3 + px) {
    padding: 65px 10px 0 10px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 65%), url("../img/advantage/advan-bg.png") no-repeat 65% bottom;
    background-size: auto, auto 80%;
    margin-bottom: 75px;
  }
  @media (max-width: $md4 + px) {
    padding: 0 10px 0 10px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 75%) , url("../img/advantage/advan-bg.png") no-repeat 56% bottom;
    background-size: auto, auto 67%;
  }
  h2 {
    @media (max-width: $md3 + px) {
      text-align: center;
    }
  }
  dl.advantage__list.list-adantage {
    max-width: 465px;
    padding-bottom: 280px;
    @media (max-width: $md3 + px) {
      padding: 0 0 0 35%;
      max-width: 100%;
      padding-bottom: 140px;
    }

    dt.list-advantage__title {

      position: relative;
      &::before {
        content: '';
        display: inline-block;
        height: 22px;
        width: 22px;
        background-color: $mainBGC;
        position: absolute;
        left: -42px;
        top: calc(50% - 10px);
        @media (max-width: $md4 + px) {
          height: 15px;
          width: 15px;
          left: -30px;
          top: calc(50% - 7px);
        }
      }
    }
    dd.list-advantage__desc {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 20px;
      @media (max-width: $md4 + px) {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
      }
      dd.list-advantage__desc:last-child{
        margin-bottom: 130px;
      }
    }
  }
}
//.advantage h2 {
//  @media (max-width: $md3 + px) {
//    text-align: center;
//  }
//}
.advantage__title {
  line-height: 70px;
  margin-bottom: 55px;
  margin-left: -42px;
  @media (max-width: $md2 + px) {
    font-size: 42px;
  }
  @media (max-width: $md3 + px) {
    display: inline-block;
    width: 100%;
    margin-left: 0;
  }
  @media (max-width: $md4 + px) {
    margin-bottom: 25px;
  }
  span {
    text-transform: uppercase;
  }
}


/*************************** Gallery **********************/
.page__gallery {
  background: linear-gradient(180deg, rgba(213, 177, 155, 0.64) 0%, #D5B19B 100%);
  padding-top: 140px;
  margin-bottom: 180px;
  position: relative;
  z-index: -2;
  @media (max-width: $md1 + px) {
    padding-top: 70px;
  }
  @media (max-width: $md3 + px) {
    padding-top: 20px;
  }
}
.gallery__body {
  display: flex;
  overflow: hidden;
  padding-bottom: 130px;
  flex-wrap: wrap;
  @media (max-width: $md3 + px) {
    padding-bottom: 80px;
  }
  @media (max-width: $md4 + px) {
    padding-bottom: 50px;
  }
}
.gallery__color {
  flex: 0 1 45%;
  padding: 0 7% 0 9%;
  @media (max-width: $md1 + px) {
    flex: 1 1 100%;
    order: 2;
    text-align: center;
    padding: 0 5% 0 5%;
  }
  @media (max-width: $md4 + px) {
    flex: 1 1 100%;
    order: 2;
    text-align: center;
    padding: 0 2% 0 2%;
  }
}
//.gallery__color h2,
//.gallery__color .pic-color__desc {
//  @media (max-width: $md1 + px) {
//    text-align: center;
//  }
//}
h2.pic-color__title {
  margin-bottom: 43px;
  line-height: 71px;
}
.pic-color__desc {
  margin-bottom: 45px;
  @media (max-width: $md4 + px){
    margin-bottom: 25px;
  }
}

//*************************на флексах
.pic-color__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media (max-width: $md1 + px) {
    justify-content: center;
    padding-left: 20px;
  }
  @media (max-width: $md4 + px) {
    justify-content: center;
    padding-left: 12px;
  }
  @media (max-width: 330px) {
    justify-content: center;
    padding-left: 2px;
  }
 }
.pic-color__item {
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 77px;
  height: 77px;
  overflow: hidden;
  display: flex;
  @media (max-width: $md4 + px) {
    width: 49px;
    height: 49px;
    margin-bottom: 12px;
    margin-right: 12px;
  }
    img {
    border-radius: 10px;
    //object-fit: cover;
    width: 108%;
    height: auto;
    position: relative;
    z-index: -1;
    margin: -4px;
  }
}

//*************************на гридах start
//.pic-color__list {
//  display: grid;
//  grid-template-columns: repeat(5, 77px);
//  grid-gap: 20px;
//}
//.pic-color__item {
//  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
//  border-radius: 10px;
//  width: 77px;
//  height: 77px;
//  overflow: hidden;
//  display: flex;
//  img {
//    border-radius: 10px;
//    //object-fit: cover;
//    width: 108%;
//    height: auto;
//    position: relative;
//    z-index: -1;
//    margin: -4px;
//  }
//}
//*************************на гридах the end


.gallery__picture.pic-gallery {
  flex: 1 1 55%;
  position: relative;
  display: flex;
  padding-top: 70px;
  @media (max-width: $md1 + px) {
    flex: 1 1 100%;
    order: 1;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 100px;
  }
  @media (max-width: $md3 + px) {
    padding-top: 40px;
    margin-bottom: 50px;
  }
  //overflow: hidden;
  .pic-gallery-img {
    position: relative;
    z-index: 2;

    img {
      width: 100%;
      height: auto;
    }
  }
  .pic-gallery-img:nth-child(2){
    transform: rotate(15deg);
    z-index: 1;
    margin-left: -12%;
  }
  .pic-gallery-img:nth-child(3){
    transform: rotate(-15deg);
    margin-left: -10%;
    margin-top: 20px;
    @media (max-width: $md3 + px) {
      margin-top: 10px;
    }
  }
}

/*************************** Review **********************/

.page__review {
  margin-bottom: 180px;
  text-align: center;
}
.review-slider__container{}
h2.review-slider__title {
  margin-bottom: 109px;
}
.review-slider__body {
  margin-bottom: 85px;
}
.review-slider__list {
  display: flex;
  margin-right: 7%;
  margin-left: 7%;
  @media (max-width: $md1 + px) {
    margin-right: 0;
    margin-left: 0;
  }
}
.review-slider__item {
  flex: 1;
  margin: 0 50px;
}

figure {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  div {
    border: 4px solid $mainBGC;
    border-radius: 100%;
    flex: 0 0 182px;
    height: 182px;
    overflow: hidden;
    margin-right: 14%;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    //border-radius: 50%;
  }
}
a.item-user__link {
  h3.item-user__name {}
}
p.item-user__text {
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: $mainColor;
}

.review-slider__arrows {
  width: 131px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.review-slider__arrow {
  width: 58px;
  height: 58px;
  cursor: pointer;
}
.review-slider__arrow-prev {
  background: url("../img/review/prev.png") no-repeat center;
}
.review-slider__arrow-next {
  background: url("../img/review/next.png") no-repeat center;
}

