

//@import "../../node_modules/normalize-scss/sass/_normalize.scss";

/********** Подключение шрифтов ********/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap&subset=cyrillic-ext');
@import "fonts";


/**********Шрифт по умолчанию********/
$fontFamily: "Roboto", sans-serif;

/********** BOOTSTRAP ********/
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";

/********** Переменные ********/
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1680 + 40;
$mainColor: #303030;
$mainBGC: #D5B19B;
$md0: $maxWidthContainer + 12;
$md1: 1200;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$fa-font-path: "../fonts/webfonts";

/********** Обнуление ********/

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    //font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
}
/********** Оболочка ********/

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/********** Основная сетка ********/
.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: $md4 + px) {
      padding: 0 10px;
    }
}

body {
    font-family: $fontFamily;
    color: $mainColor;
}

a {
    color: $mainColor;
}
/********** Подключение файлов стилей, форм ... ********/

@import "header";
@import "home";

/********** Main content style ********/

.mainButton {
    color: #ffffff;
    background: linear-gradient(270deg, #DFC3B2, #D5B19B);
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 9px 58px;
    border-radius: 10px;
}













